<!-- application/layouts/scripts/layout.phtml -->
<?php echo $this->doctype() ?>
<html class="js" dir="ltr" version="XHTML+RDFa 1.0" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/1999/xhtml/vocab">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Online Examination</title>
    <link type="image/x-icon" href="http://192.168.2.64/OnlineExamination/public/img/favicon.png" rel="shortcut icon">
    <?php

    $this->headLink()->appendStylesheet($this->baseUrl() . '/public/css/style.css')
        ->appendStylesheet($this->baseUrl() . '/public/css/layout.css')
        ->appendStylesheet($this->baseUrl() . '/public/css/system.theme.css')
        ->appendStylesheet($this->baseUrl() . '/public/css/system.base.css')
        ->appendStylesheet($this->baseUrl() . '/public/css/color.css');
    echo $this->headLink();

    echo $this->jQuery()
              ->setVersion('1.10.1')
              ->setUiVersion('1.10.1')
              ->enable()
              ->uiEnable();
    ?>
  </head>
  <!--
  Change body class if there one side bar then set one-sidebar
  -->
    <body class="html front not-logged-in two-sidebar sidebar-first page-node">
    <div id="page-wrapper">
      <div id="page">
        <div id="header" class="without-secondary-menu">
          <?php echo $this->render('header.phtml'); ?>
        </div>
        <div class="clearfix" id="main-wrapper"><div class="clearfix" id="main">
            <div class="column sidebar" id="sidebar-first">
              <?php echo $this->render('sidebar-first.phtml'); ?>

            </div> <!-- /.section, /#sidebar-first -->

            <div class="column" id="content">
              <div class="section">
                <?php echo $this->layout()->content ?>
              </div>
            </div> <!-- /.section, /#content -->

            <div class="column sidebar" id="sidebar-second">
              <?php echo $this->render('sidebar-second.phtml'); ?>
            </div> <!-- /.section, /#sidebar-second -->
          </div>
        </div>
        <div id="footer-wrapper">
          <?php echo $this->render('footer.phtml'); ?>
        </div>
      </div>
  </body>
</html>










