
        <h2 class="element-invisible">Main menu</h2>
        <ul class="links clearfix" id="main-menu-links">
          <li class="menu-home first last active"><a class="active" href="#">Link1</a></li>
          <li class="menu-register first last"><a class="active" href="#">Link2</a></li>
          <li class="menu-logout first last"><a class="active" href="#">Link3</a></li>
</ul>

