<div class="section">
  <div class="region region-sidebar-second">
<div class="block block-system contextual-links-region block-menu" id="block-system-navigation">
      <h2>Navigation</h2>
      <div class="content">
        <ul class="menu clearfix"><li class="first collapsed"><a href="#">Link1</a></li>
          <li class="last leaf"><a href="#">Link2</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


