<script>
  jQuery(document).ready(function() {
    jQuery.ajax({
      url: "<?php echo $this->baseUrl();?>/Users/login/authenticate",
      context: document.body
    }).done(function(data) {
      if (console && console.log) {
        console.log("Sample of data:", data.slice(0, 100));
        jQuery('#block-user-login').html(data);
      }
    });
  });
</script>



<div class="section">
  <div class="region region-sidebar-first">
    <div class="block block-user" id="block-user-login"></div>

    <div class="block block-system contextual-links-region block-menu" id="block-system-navigation">
      <h2>Navigation</h2>
      <div class="content">
        <ul class="menu clearfix"><li class="first collapsed"><a href="#">Link1</a></li>
          <li class="last leaf"><a href="#">Link2</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>



